<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Blog</a></li>
  <li><a href="{{ root_url }}/blog/archives">Archiwum</a></li>
  <li><a href="http://jug.zgora.pl/forum" target="_blank">Grupa dyskusyjna</a></li>
  <li><a href="http://jug.zgora.pl/meetup" target="_blank">Meetup</a></li>
  <li><a href="https://github.com/zielona-gora-jug" target="_blank">GitHub</a></li>
  <li><a href="{{ root_url }}/sponsors/">Sponsorzy</a></li>
  <li><a href="{{ root_url }}/leaders/">Liderzy</a></li>
  <li><a href="http://goo.gl/forms/olSZgNJmFE" target="_blank" title="Ankieta z propozycjami tematów na następne spotkania">Ankieta</a></li>
  <li><a href="http://flickr.com/photos/zgjug/" target="_blank" title="Zdjęcia społeczności na portalu Flickr">Flickr</a></li>
</ul>
